
* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}

.container{
    width: 100%;
    height: 100%;
    
}

.logo_onda{
    position: absolute;
    top:100px;
    left:650px;
    
}

.form-group{
    position:absolute;
    left: 40%;
    width: 20%;
    top:350px;
    
}

.form-control{
    margin-bottom: 10px;
}
